<template>
    <div class="container bg-gray-200">
        <div v-show="feed.audiobook.goodreads_id">
            {{feed}} 
        </div>
        <hr>
        
        <div class="p-8">
            <form @submit.prevent="search" class="md:flex items-end">
                <label class="block md:w-2/5 mb-2 md:mb-0 md:mr-4">
                    <span>Title</span>
                    <input class="form-input block w-full" v-model="feed.audiobook.title"/>
                </label>
                <label class="block md:w-2/5 md:mr-4 md:mb-0 mb-2">
                    <span>Author</span>
                    <input class="form-input block w-full" v-model="feed.audiobook.author" />
                </label>
                <div class="flex-1">
                    <button class="tw-button">Lookup</button>
                </div>
            </form>
        </div>
        <hr>
        
        <div>
            <div v-if="results.length === 0" class="text-center py-2 bg-gray-100 shadow m-8 text-sm">
                No results for this audiobook
            </div>
            <result-grid :items="results" class="px-4" v-else>
                <template v-slot="{item}">
                    <div class="flex">
                        <div class="w-12 mr-2">
                            <img :src="item.image" class="w-full object-contain">
                        </div>
                        <div class="flex flex-col justify-between text-xs py-2">
                            <div>
                                <span class="font-bold block">{{item.title}}</span>
                                <span>{{item.author}}</span>
                            </div>
                            <button class="text-left hover:underline" @click="doit(result)">This is my book!</button>
                        </div>
                    </div>
                </template>
            </result-grid>
        </div>
    </div>
</template>

<script>
import ResultGrid from '../components/ResultGrid.vue';
export default {
    components: {
        ResultGrid
    },
    props:{
        feed:{
        type:Object, required:true,}
    },
    data () {
        return {
            results: [],
        }
    },
    methods:{
        search() {
            axios.get('/api/v1/audiobooks', {
                params:{
                        title: this.feed.audiobook.title,
                    author: this.feed.audiobook.author,
                }
            }).then(({data}) => {
                this.results = data.data;
            });
        },
        doit(result) {
            axios.post(`/feeds/${this.feed.path}/audiobook`, result).then(({data}) => {
                this.feed.audiobook = data.data;
            });
        }
    },
    mounted () {
        this.search();
    }
}
</script>
<style>
/*--grid-columns:1;*/


.result-grid {
    display:grid; 
    grid-gap:10px;
}
</style>
