<template>
    <div class="container">
        <h1 class="heading is-size-1">Create a new feed from many other feeds</h1>

        <feed-form action="/funnelled-feeds" :inputs="inputs">
            <div class="block">
                <span class="text-gray-700">Feeds to Funnel</span>
                <div class="mt-2 grid sm:grid-cols-2 md:grid-cols-3 gap-2">
                    <template v-for="feed in feeds">
                        <input type="checkbox" :value="feed.id" name="feeds[]" style="display: none;" :id="`feed-${feed.id}`">
                        <label class="border-2 border-green-300 p-4 flex inline-flex items-center" style="white-space: nowrap; overflow: hidden;text-overflow: ellipsis; max-width: 100%" v-bind:for="`feed-${feed.id}`">
                            {{ feed.title }}
                        </label>
                    </template>
                </div>
            </div>
        </feed-form>
    </div>
</template>
<script>
import FeedForm from '../components/FeedForm.vue';

const input_props = [
    'title', 'path', 'feeds'
];
export default {
    props: input_props,
    components: {FeedForm},
    data() {
        return {
            inputs: {}
        }
    },
    created() {
        input_props.forEach(prop => {
            this.inputs[prop] = this[prop];
        });
    }
}
</script>

<style>
input:checked + label{
    @apply bg-teal-200;
}
</style>
