<template>
    <div class="container">
        <h1 class="heading is-size-1">Create a new feed from a YouTube playlist</h1>

        <feed-form action="/youtube-feeds" :inputs="inputs">
            <label class="block">
                <span class="text-gray-700">YouTube Playlist link</span>
                <input type="text" class="form-input block w-full" v-model="inputs.path" name="path">
            </label>

            <div class="flex my-3">
                <label class="flex items-center text-gray-700">
                    <input type="checkbox" class="form-checkbox" name="limit_to_one">
                    <span class="ml-2">Only include most recent video</span>
                </label>
            </div>
        </feed-form>
    </div>
</template>
<script>
import FeedForm from '../components/FeedForm.vue';

const input_props = [
    'title', 'path', 'episode_limit', 'start_after'
];
export default {
    props: input_props,
    components: {FeedForm},
    data() {
        return {
            inputs: {}
        }
    },
    created() {
        input_props.forEach(prop => {
            this.inputs[prop] = this[prop];
        });
    }
}
</script>
