<template>
    <div class="container">
        <h1 class="heading is-size-1">Create a new remote feed</h1>

        <feed-form action="/remote-feeds" :inputs="inputs">
            <label class="block">
                <span class="text-gray-700">Path</span>
                <input type="text" class="form-input block w-full" v-model="inputs.path" name="path">
            </label>
            <label class="block">
                <span class="text-gray-700">Start After</span>
                <input type="text" class="form-input block w-full" v-model="inputs.start_after" name="start_after">
            </label>
        </feed-form>
    </div>
</template>
<script>
import FeedForm from '../components/FeedForm.vue';

const input_props = [
    'title', 'path', 'episode_limit', 'start_after'
];
export default {
    props: input_props,
    components: {FeedForm},
    data() {
        return {
            inputs: {}
        }
    },
    created() {
        input_props.forEach(prop => {
            this.inputs[prop] = this[prop];
        });
    }
}
</script>
