<template>
    <div class="bg-gray-100">
        <h1 class="heading is-size-1">Editing Pickem Releaser for /feeds/{{feed.path}}</h1>
        <div class="flex text-center mb-2">
            <div v-for="(label, key) in strategies" class="flex-1 cursor-pointer py-2 px-4 hover:bg-pink-400" :class="[key==strategy?'bg-pink-400':'bg-pink-200']" @click="strategy=key">{{label}}</div>
        </div>

        <div class="flex justify-between">
            <div>
                <div v-for="episode in feed.episodes">
                    <label>
                        <input type="checkbox" v-model="selected_items" :value="episode.id">
                        <span>{{episode.options.title}}</span>
                    </label>
                </div>
            </div>
            <div>
                <button class="tw-button" @click="saveChanges">Save Changes</button>
            </div>
        </div>
    </div>
</template>

<script>

export default {
    data(){
        return {
            strategy:'oldest',
            strategies: {
                oldest: 'Oldest First',
                random:'Random',
                newest: 'Newest First',
            },
            selected_items:[],
        };
    },
    props:[
        'feed', 'selected', 'original_strategy'
    ],
    mounted() {
        this.selected_items = this.selected;
        this.strategy = this.original_strategy;
    },
    methods:{
        saveChanges(){
            axios.post(`/feeds/${this.feed.path}/releasables/pickem`, {
                strategy:this.strategy,
                selected_items:this.selected_items,
            }).then(({data}) => {
                window.location = `/feeds/${this.feed.path}/edit`;
                console.log(data);
            });
            console.log(arguments);
        }
    }
}
</script>
