<template>
    <div class="container bg-gray-200">
        <h1 class="heading is-size-1">Editing /feeds/{{feed.path}}</h1>

        <form :action="`/feeds/${feed.path}/coverart`" class="flex items-center" method="post">
            <img :src="feed.image_path" class="bg-blue-200 border-black border-4 mr-4 w-32" alt="">
            <button class="tw-button" type="submit">Update Coverart</button>
        </form>
        
        <form :action="`/feeds/${feed.path}`" method="post" class="mb-4">
            <div class="mb-2">
                <label class="block text-grey-800 text-sm font-bold mb-2" for="name">Name</label>
                <input class="tw-text-field" id="name" type="text" name="title" :value="feed.title">
            </div>
            <button class="tw-button" type="submit">Save Changes</button>
        </form>

        <hr class="border-black border-solid border-b">

        <api-form action="`/feeds/${feed.path}/episode-naming-pattern" method="post">
            <h2 class="heading is-size-2">Create a Naming convention?</h2>
            <input name="pattern" required/>
            <button class="submit">Yup</button>

            <div slot="success">
                hey! It was a success! totally awesome, yes?
            </div>
        </api-form>

        <hr class="border-black border-solid border-b">
        <release-schedule-admin :feed="feed.path"></release-schedule-admin>
    </div>


</template>

<script>
import ApiForm from '../components/ApiForm.vue';
import ReleaseScheduleAdmin from '../components/ReleaseScheduleAdmin.vue';

export default {
    components: {
        ApiForm, ReleaseScheduleAdmin
    },
    props:[
        'feed'
    ],
    mounted() {
    }
}
</script>
