<template>
    <div>
        <h1>Active Feeds</h1>
        <active-feed v-for="feed in feeds" :feed="feed" :key="feed.id" v-on:delete="deleteFeed"/>

        <template v-show="possible-feeds.length">

            <h1>Possible Feeds from Dropbox</h1>
            <table class="table is-bordered is-fullwidth">
                <tbody>
                    <possible-feed v-for="feed in possible_feeds" :feed="feed" v-on:feed-approved="adjustFeeds"
                                   :key="feed.id"/>
                </tbody>
            </table>
        </template>
    </div>

</template>
<script>
import ActiveFeed from '../components/ActiveFeed.vue';
import PossibleFeed from '../components/PossibleFeed.vue';

export default {
    data() {
        return {
            feeds: [],
            possible_feeds: []
        }
    },
    methods: {
        deleteFeed(feed) {
            window.axios.delete('/api/v1/active-feeds/' + feed.path).then(({data}) => {
                this.feeds = this.feeds.filter(f => f != feed)
            });
        },
        adjustFeeds(evt) {
            this.feeds.push(evt.feed);

            this.possible_feeds = this.possible_feeds.filter(function (feed) {
                return feed.path !== evt.feed.path;
            });
        }
    },
    components: {
        'active-feed': ActiveFeed,
        'possible-feed': PossibleFeed
    },
    mounted: function () {
        var vue = this;

        axios.get('/api/v1/active-feeds').then(function (response) {
            vue.feeds = response.data.data;
        });
        axios.get('/api/v1/dropbox/unclaimed-feeds').then(function (response) {
            vue.possible_feeds = response.data.data;
        });
    }
}
</script>
