<script lang="ts">
    import ActiveFeed from "../components/ActiveFeed.svelte";
    import PossibleFeed from "../components/PossibleFeed.svelte";
    import {onMount} from "svelte";

    export let feeds = [];
    let possibles = [];

    onMount(async () => {
        const res = await fetch("/api/v1/dropbox/unclaimed-feeds");
        possibles = (await res.json()).data;
    });

    function adjustFeeds(evt) {
        feeds.data = [...feeds.data, evt.detail.feed];

        possibles = possibles.filter(function (feed) {
            return feed.path !== evt.detail.feed.path;
        });
    }

    function removeFeed(evt) {
        const feed = evt.detail.feed;

        window.axios
            .delete("/api/v1/active-feeds/" + feed.path)
            .then(({data}) => {
                feeds.data = feeds.data.filter((f) => f != feed);
            });
    }
</script>

<div>
    <h1>Active feeds</h1>
    {#each feeds.data as feed}
        <ActiveFeed {feed} on:removed={removeFeed}/>
    {/each}

    {#if possibles.length > 1}
        <h1>Possible Feeds from Dropbox</h1>
        <table class="table is-bordered is-fullwidth">
            <tbody>
                {#each possibles as feed}
                    <PossibleFeed {feed} on:feed-approved={adjustFeeds}/>
                {/each}
            </tbody>
        </table>
    {/if}
</div>
