<div>
    <h1>Overcast Feeds</h1>
    {#each listings as listing}
        <OvercastFeedListItem
            artwork={listing.artwork}
            title={listing.title}
            overcast_id={listing.id}
        />
    {/each}
</div>

<script lang="ts">
    export let listings = [];
    import OvercastFeedListItem from "../components/OvercastFeedListItem.svelte";
</script>