<template>
    <article id="episode_form">
        <div style="max-width:600px; margin:0 auto; text-align:center">
            <h1 class="text-xl font-semibold">{{ feed.title }}</h1>
            <h2 v-show="title">{{ title }}</h2>
            <figure style="max-width:300px; margin:0 auto;">
                <img :src="feed.image_path" :alt="feed.title"
                     style="height:100%; width:100%; border-radius:5px;"/>
            </figure>
            <div class="subtitle">
                updated {{ feed.updated_at|date }}
            </div>
        </div>
        <nav class="actions" style="width:100%;">
            <ul class="flex" style="width:100%; list-style:none;">
                <li style="width:auto; margin-right:10px;">Actions:</li>

                <li>
                    <form class="is-pulled-right" :action="`/feeds/${feed.path}/episode-order`" method="post">
                        <template v-for="(episode, index) in episodes.reverse()">
                            <input type="hidden" :name="`${index}[order]`" :value="index+1">
                            <input type="hidden" :name="`${index}[episode_id]`" :value="episode.id">
                        </template>
                        <button class="button" type="submit">Reverse the order</button>
                    </form>
                </li>
                <li>
                    <a :href="`/feeds/${feed.path}/episodes/create`" class="button is-pulled-right">+ Add Episode</a>
                </li>
                <li>
                    <a class="button is-small" :href="paths.feed.edit"><span
                        class="icon is-small"><i class="fa fa-edit"></i></span> Edit Feed</a>
                </li>
                <li>
                    <a class="button is-small" :href="paths.feed.show"><span
                        class="icon is-small"><i class="fa fa-edit"></i></span> View Feed</a>
                </li>

            </ul>
        </nav>
        <div v-show="funnel_feeds.length">
            <select v-model="funnel_filter" class="form-select">
                <option value="">Show all Feeds</option>
                <option :value="feed.id" v-for="feed in funnel_feeds">{{ feed.title }}</option>
            </select>

        </div>
        <div>
            <div>
                {{ filteredEpisodes.length }} episodes
            </div>
            <div class="container mx-auto">
                <table style="border-collapse:collapse;">
                    <tbody>
                        <tr v-for="(episode, index) in filteredEpisodes.reverse()"
                            class="py-1 border-b border-blue-800">
                            <td class="font-bold">{{ episode.title }}</td>
                            <td>
                                <template v-if="episode.is_played">Played</template>
                                <form action="#" v-else>
                                    <button
                                        class="font-bold py-1 px-2 rounded bg-blue-500 text-white hover:bg-blue-600">
                                        Mark as Played
                                    </button>
                                </form>
                            </td>
                            <td>
                                <template v-if="episode.released_at">
                                    Released at {{ episode.released_at | date }}
                                </template>
                                <form action="/released-episodes" method="post" v-else>
                                    <input type="hidden" name="episode_id" :value="episode.id">

                                    <button
                                        class="font-bold py-1 px-2 rounded bg-blue-500 text-white hover:bg-blue-600">
                                        Release
                                    </button>
                                </form>
                            </td>
                            <td>
                                <form v-if="index> 0" :action="`/feeds/${feed.path}/episode-order`" method="post">
                                    <input type="hidden" name="0[order]" :value="episodes[index-1].order">
                                    <input type="hidden" name="0[episode_id]" :value="episode.id">
                                    <input type="hidden" name="1[order]" :value="episode.order">
                                    <input type="hidden" name="1[episode_id]" :value="episodes[index-1].id">
                                    <button
                                        class="font-bold py-1 px-2 rounded bg-blue-500 text-white hover:bg-blue-600">^
                                    </button>
                                </form>

                                <form v-if="index<episodes.length-1" :action="`/feeds/${feed.path}/episode-order`"
                                      method="post">
                                    <input type="hidden" name="0[order]" :value="episodes[index+1].order">
                                    <input type="hidden" name="0[episode_id]" :value="episode.id">
                                    <input type="hidden" name="1[order]" :value="episode.order">
                                    <input type="hidden" name="1[episode_id]" :value="episodes[index+1].id">
                                    <button
                                        class="font-bold py-1 px-2 rounded bg-blue-500 text-white hover:bg-blue-600">v
                                    </button>
                                </form>

                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </article>

</template>

<script>

export default {
    components: {},
    filters: {
        date(date_time) {
            return (new Date(date_time)).toLocaleDateString();
        }
    },
    data() {
        return {
            funnel_filter: ''
        }
    },
    computed: {
        filteredEpisodes() {
            if (this.funnel_filter === '') {
                return this.episodes;
            }
            return this.episodes.filter(episode => episode.feed_id == this.funnel_filter);
        }
    },
    props: [
        'feed', 'episodes', 'paths', 'title', 'funnel_feeds'
    ],
    mounted() {
    }
}
</script>
<style>

nav {
    border-top: 1px solid black;
    border-bottom: 3px double black;
    margin: 5px 0 10px;
    padding: 5px 0 10px;
}

nav.action li:first-child {
}

nav.actions li:not(:first-child) {
    flex: 1;
    text-align: left;
}

form + form {
    margin-top: 5px;
}
</style>

