<script>
    import EpisodeListItem from '../components/EpisodeListItem.svelte';

    export let episodes = [];
    export let feed;
    export let funnel_feeds = [];
export let errors =[]
    let title = 'my sweet title';

    let filteredEpisodes = episodes;

    // export default {
    //     components: {},
    //     filters: {
    //         date(date_time) {
    //             return (new Date(date_time)).toLocaleDateString();
    //         }
    //     },
    //     data() {
    //         return {
    //             funnel_filter: ''
    //         }
    //     },
    //     computed: {
    //         filteredEpisodes() {
    //             if (this.funnel_filter === '') {
    //                 return this.episodes;
    //             }
    //             return this.episodes.filter(episode => episode.feed_id == this.funnel_filter);
    //         }
    //     },
    //     props: [
    //         'feed', 'episodes', 'paths', 'title', 'funnel_feeds'
    //     ],
    //     mounted() {
    //     }

    // }
    console.log(errors);
    // console.log($page.errors);
</script>

<article id="episode_form">


    <div style="max-width:600px; margin:0 auto; text-align:center">
        <h1 class="text-xl font-semibold">{feed.title}</h1>
        <h2 v-show="title">{title}</h2>
        <figure style="max-width:300px; margin:0 auto;">
            <img :src="feed.image_path" :alt="feed.title"
                 style="height:100%; width:100%; border-radius:5px;"/>
        </figure>
        <div class="subtitle">
            updated {feed.updated_at}
        </div>
    </div>
    <nav class="actions" style="width:100%;">
        <ul class="flex" style="width:100%; list-style:none;">
            <li style="width:auto; margin-right:10px;">Actions:</li>
            <li>
                <form class="is-pulled-right" :action="`/feeds/${feed.path}/episode-order`" method="post">
                    {#each episodes.reverse() as episode, index}
                        <input type="hidden" :name="`${index}[order]`" :value="index+1">
                        <input type="hidden" :name="`${index}[episode_id]`" :value="episode.id">
                    {/each}
                    <button class="button" type="submit">Reverse the order</button>
                </form>
            </li>
            <li>
                <a href="`/feeds/${feed.path}/episodes/create`" class="button is-pulled-right">+ Add Episode</a>
            </li>
            <li>
                <a class="button is-small" :href="paths.feed.edit"><span
                    class="icon is-small"><i class="fa fa-edit"></i></span> Edit Feed</a>
            </li>
            <li>
                <a class="button is-small" :href="paths.feed.show"><span
                    class="icon is-small"><i class="fa fa-edit"></i></span> View Feed</a>
            </li>

        </ul>
    </nav>
    {#if funnel_feeds.length}
        <div>
            <select v-model="funnel_filter" class="form-select">
                <option value="">Show all Feeds</option>
                <option :value="feed.id" v-for="feed in funnel_feeds">{feed.title}</option>
            </select>
        </div>
    {/if}

    {#if Object.keys(errors).length}
        <div style="background-color:coral">

        {#each Object.values(errors) as error_list}
            <div>{error_list.join(', ')}</div>
        {/each}
        </div>
    {/if}

    <div>
        <div>
            {filteredEpisodes.length} episodes
        </div>
        {#each filteredEpisodes.reverse() as episode, index}
            <div class="flex w-full justify-between border-b-2 border-blue-400 border-solid pb-1 mb-1">
                <EpisodeListItem {episode}></EpisodeListItem>
                <div>
                    {#if index > 0}
                        <form action={`/feeds/${feed.path}/episode-order`} method="post">
                            <input type="hidden" name="0[order]" value={episodes[index-1].order}>
                            <input type="hidden" name="0[episode_id]" value={episode.id}>
                            <input type="hidden" name="1[order]" value={episode.order}/>
                            <input type="hidden" name="1[episode_id]" value={episodes[index-1].id}>
                            <button
                                class="font-bold py-1 px-2 rounded bg-blue-500 text-white hover:bg-blue-600">^
                            </button>
                        </form>
                    {/if}
                    {#if index < episodes.length - 1}
                        <form action={`/feeds/${feed.path}/episode-order`} method="post">
                            <input type="hidden" name="0[order]" value={episodes[index+1].order}>
                            <input type="hidden" name="0[episode_id]" value={episode.id}>
                            <input type="hidden" name="1[order]" value={episode.order}>
                            <input type="hidden" name="1[episode_id]" value={episodes[index+1].id}>
                            <button
                                class="font-bold py-1 px-2 rounded bg-blue-500 text-white hover:bg-blue-600">v
                            </button>
                        </form>
                    {/if}
                </div>
            </div>
        {/each}
    </div>
</article>
<style>

    nav {
        border-top: 1px solid black;
        border-bottom: 3px double black;
        margin: 5px 0 10px;
        padding: 5px 0 10px;
    }

    nav.action li:first-child {
    }

    nav.actions li:not(:first-child) {
        flex: 1;
        text-align: left;
    }

    form + form {
        margin-top: 5px;
    }
</style>

