<template>
    <div>
        <h1>Overcast Feeds</h1>
        <overcast-feed
            v-for="listing in listings"
            :artwork="listing.artwork"
            :title="listing.title"
            class="mb-2 pb-2 border-b border-gray-400"
        ></overcast-feed>
    </div>

</template>

<script>
import OvercastFeed from '../components/OvercastFeed.vue';

export default {
    components: {
        OvercastFeed
    },
    props: ['listings'],
    mounted() {
        console.log(this.listings);
    }
// <!--        id="{{strtok($listing['id'], '/')}}"-->
}
</script>