<template>
    <div class="flex my-4">
        <figure class="w-16 mr-2">
            <img class="w-auto border border-solid border-green-800" :src="feed.image_path" alt="feed.title Logo"/>
        </figure>
        <div>
            <div>
                <div class="text-green-800">
                    <a class=" text-green-800  hover:underline font-bold" :href="feed.links.show">{{feed.title}}</a> <span class="opacity-50 text-sm">updated {{feed.updated.readable}}</span>

                </div>
                <div class="flex text-xs mt-1">
                <a class="mr-2 bg-blue-800 hover:bg-blue-900  text-white font-bold py-1 px-2 rounded inline-flex items-center" :href="feed.links.edit">
                      <svg class="fill-current w-2 h-2 mr-1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M13 8V2H7v6H2l8 8 8-8h-5zM0 18h20v2H0v-2z"/></svg>
                    <span>Edit</span>
                </a>
                <button @click="removeFeed" class="bg-red-800 hover:bg-red-900  text-white font-bold py-1 px-2 rounded inline-flex items-center" :href="feed.links.edit">
                      <svg class="fill-current w-2 h-2 mr-1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M13 8V2H7v6H2l8 8 8-8h-5zM0 18h20v2H0v-2z"/></svg>
                    <span>Remove</span>
                </button>

                </div>
            </div>
            <div>
                <!--{{$feed->episodes->where('is_played', false)->count()}} unplayed episodes @if(is_finite($feed->episode_limit))({{$feed->episode_limit}} episode limit)@endif-->
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        props: ['feed'],
        methods:{
            removeFeed() {
                this.$emit('delete', this._props.feed)
            }
        },
        data() {
            return {}
        }
    }
</script>
