<script lang="ts">
    import {createEventDispatcher} from "svelte";
    import ListItem from "./ListItem.svelte";
    import ButtonFactory from "../classes/themes/ButtonFactory";

    export let feed = {};
    const dispatch = createEventDispatcher();

    function removeFeed() {
        dispatch("removed", {feed: feed});
    }

    let buttons = [
        ButtonFactory.createLink('Edit', feed.links.edit, {
            class_name: "mr-2 bg-blue-800 hover:bg-blue-900 text-white font-bold py-1 px-2 rounded inline-flex items-center",
        }),
        ButtonFactory.createButton('Remove', removeFeed, {
            class_name: 'bg-red-800 hover:bg-red-900 text-white font-bold py-1 px-2 rounded inline-flex items-center'
        })
    ];
</script>

<ListItem image={feed.image_path} alt_text={feed.title} buttons={buttons}>
    <div class="text-green-800">
        <a
            class=" text-green-800 hover:underline font-bold"
            href={feed.links.show}>{feed.title}</a
        >
        <span class="opacity-50 text-sm">updated {feed.updated.readable}</span>
    </div>
</ListItem>
