<template>
    <form @submit.prevent="onSubmit">
        <div v-show="successful" style="background-color:greenyellow;">
            <slot name="success"></slot>
        </div>
        <slot/>
    </form>
</template>
<script>
    export default {
        props: ['action', 'method'],
        methods: {
            onSubmit(evt) {
                let form = evt.target;
                let data = {};
                for (var i = 0; i < form.elements.length; i++) {
                    if (form.elements[i].nodeName !== 'BUTTON') {
                        data[form.elements[i].name] = form.elements[i].value;
                    }
                }

                if (this.action[0] !== '/') {
                    this.action = '/' + this.action;
                }

                var vue = this;
                axios({
                    method: this.method,
                    url: '/api/v1' + this.action,
                    data: data
                }).then(function (response) {
                    vue.successful = true;
                });
            }
        },
        data() {
            return {
                successful: false
            }
        }
    }
</script>