<script lang="ts">
    import {createEventDispatcher} from "svelte";
    import {router} from '@inertiajs/svelte';
    import ListItem from "./ListItem.svelte";
    import ButtonFactory from "../classes/themes/ButtonFactory";
    import Button from "../classes/themes/Button";

    const dispatch = createEventDispatcher();
    export let episode;
    export let errors = [];

    function handleAction(route: string) {
        router.post(route, {
            episode_id: episode.id,
        }, {
            onSuccess: page => {
                page.props.episodes.forEach(e => {
                    if (e.id == episode.id) {
                        episode = e;
                    }
                })
            },
            onError: err => {
                window.alert(err);
            }
        });
    }

    function markAsPlayed() {
        return handleAction('/played-episodes');
    }

    function releaseEpisode() {
        return handleAction('/released-episodes');
    }

    let buttons: Button[];
    $: {
        let tmp = [];
        if (!episode.is_played) {
            tmp.push(ButtonFactory.createButton('Mark As Played', markAsPlayed, {class_name: 'font-bold py-1 px-2 rounded bg-blue-500 text-white hover:bg-blue-600'}))
        }
        if (!episode.released_at) {
            tmp.push(ButtonFactory.createButton('Release', releaseEpisode, {class_name: 'font-bold py-1 px-2 rounded bg-blue-500 text-white hover:bg-blue-600'}))
        }
        buttons = tmp;
    }

</script>

<ListItem {buttons}>
    {episode.title}

    {#if episode.is_played}
        Played
    {/if}
    {#if episode.released_at}
        Released at {episode.released_at}
    {/if}
</ListItem>