<template>
    <form :action="action" method="post">
        <label class="block">
            <span class="text-gray-700">Name</span>
            <input type="text" class="form-input block w-full" v-model="inputs.title" name="title">
        </label>
        <slot/>

        <label class="block">
            <span class="text-gray-700">Episode Limit</span>
            <input type="text" class="form-input block w-full" v-model="inputs.episode_limit" name="episode_limit">
        </label>

        <h2>Filters</h2>
        <div class="text-right">
            <button type="button" @click="filters.push({field:'title', operator:'exists', value:null})">Add Filter
            </button>
        </div>
        <div class="flex" v-for="(filter, i) in filters">
            <label class="block w-1/3 mr-2">
                <span class="text-gray-700">Field</span>
                <input type="text" class="form-input block w-full" v-model="filter.field"
                       :name="`filters[${i}][field]`">
            </label>
            <label class="block w-1/3 mr-2">
                <span class="text-gray-700">Operator</span>
                <select class="form-input block w-full" :name="`filters[${i}][operator]`" v-model="filter.operator">
                    <option value="exists">Exists</option>
                    <option value="matches">Matches</option>
                </select>
            </label>

            <label class="block w-1/3" v-show="filter.operator!=='exists'">
                <span class="text-gray-700">Value</span>
                <input type="text" class="form-input block w-full" v-model="filter.value"
                       :name="`filters[${i}][value]`">
            </label>

        </div>

        <div>
            <button class="button">Save Changes</button>
        </div>
    </form>
</template>
<script>

export default {
    props: ['action','inputs'],
    data() {
        return {
            // inputs: {},
            filters: []
        }
    },
    created() {
        // input_props.forEach(prop => {
        //     this.inputs[prop] = this[prop];
        // });
    }
}
</script>
