<script lang="ts">
    export let image = null;
    export let alt_text = null;
    export let buttons = [];

    function getClasses(def: String): String {
        let classes = [def];
        if (image) {
            classes.push('has-image');
        }
        return classes.join(' ');
    }
</script>

<div class={getClasses('list-item mb-4' )}>
    {#if image}
        <figure class="w-16 mr-2" style="grid-row:1/3">
            <img
                class="w-auto border border-solid border-green-800"
                src={image}
                alt={alt_text}
            />
        </figure>
    {/if}
    <div>
        <slot></slot>
    </div>
    {#if buttons.length}
        <div class="flex text-xs mt-1">
            {#each buttons as button}
                {#if button.link}
                    <a class={button.class_name} href={button.link}>{button.text}</a>
                {:else if button.handler}
                    <button class={button.class_name} on:click={button.handler}>{button.text}</button>
                {/if}
            {/each}
        </div>
    {/if}
</div>
<style>
    .list-item {
        height:100%;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 1fr auto;
    }

    .list-item.has-image {
        grid-template-columns: auto 1fr;

    }
</style>