<script lang="ts">
    import ListItem from "./ListItem.svelte";
    import ButtonFactory from "../classes/themes/ButtonFactory";

    export let artwork = null;
    export let title = null;
    export let overcast_id = null;

    let buttons = [
        ButtonFactory.createButton('Create Remote Feed', createRemoteFeed, {class_name: 'tw-button'})
    ];

    function createRemoteFeed() {
        window.axios.all([
            window.axios.get('/overcast-feeds/' + overcast_id + '/rss-url'),
            window.axios.get('/overcast-feeds/' + overcast_id + '/played-episodes?limit=1'),
        ]).then(axios.spread((feed, episodes) => {
            const params = new URLSearchParams();
            params.set('title', title);
            params.set('path', feed.data.data);
            if (episodes.data.length) {
                params.set('start_after', episodes.data[0].audio_src);
            }

            window.location = `/remote-feeds/create?${params.toString()}`;
        }));
    };

</script>
<ListItem {buttons} image={artwork}>
    <h2 class="">{title}</h2>
</ListItem>
