<template>
    <article id="episode_form" class="flex">
        <figure class="w-16 mr-1">
            <img class="w-full" :src="artwork"/>
        </figure>
        <div class="flex-1 text-sm">
            <h2 class="">{{title}}</h2>
            <button class="tw-button" @click="createRemoteFeed(id)">Create Remote Feed</button>
        </div>
    </article>
</template>
<script>
    import ApiForm from '../components/ApiForm.vue';

    export default {
        components: {
            'api-form': ApiForm
        },
        props: [
            'artwork', 'id', 'title'
        ],
        methods: {
            createRemoteFeed(overcast_id) {
                window.axios.all([
                    window.axios.get('/overcast-feeds/' + overcast_id + '/rss-url'),
                    window.axios.get('/overcast-feeds/' + overcast_id + '/played-episodes?limit=1'),
                ]).then(axios.spread((feed, episodes) => {
                    const params = new URLSearchParams();
                    params.set('title', this.title);
                    params.set('path', feed.data.data);
                    if(episodes.data.length) {
                        params.set('start_after', episodes.data[0].audio_src);
                    }

                    window.location = `/remote-feeds/create?${params.toString()}`;
                }));
            }
        },
        data() {
            return {}
        }
    }
</script>
