<script lang="ts">
    import {createEventDispatcher} from "svelte";

    export let feed = {};
    const dispatch = createEventDispatcher();

    function submitForm() {
        axios
            .post("/api/v1/dropbox/active-feeds", {
                title: feed.name,
                path: feed.path,
            })
            .then(function (response) {
                if (response.status === 201) {
                    dispatch("feed-approved", {feed: response.data.data});
                } else {
                    console.error("Not sure how to handle this");
                }
            })
            .catch(function ({response}) {
                Object.values(response.data.errors).forEach(err => {
                    window.alert(err.join(', '))
                })
            });
    }
</script>

<tr>
    <td>
        {feed.name}
    </td>
    <td>
        <button on:click={submitForm} class="button">Create Podcast Feed</button>
    </td>
</tr>
