<template>
  <tr>
    <td>
      {{ feed.name }}
    </td>
    <td>
      <input
        type="text"
        name="episode_limit"
        v-model="episode_limit"
        size="4"
      />
    </td>
    <td>
      <button @click="submitForm" class="button">Create Podcast Feed</button>
    </td>
  </tr>
</template>
<script>
export default {
  props: ["feed"],
  methods: {
    submitForm() {
      var vue_instance = this;
      axios
        .post("/api/v1/dropbox/active-feeds", {
          title: this.feed.name,
          path: this.feed.path,
          episode_limit: this.episode_limit,
        })
        .then(function (response) {
          if (response.status === 201) {
            vue_instance.$emit("feed-approved", { feed: response.data.data });
          } else {
            console.error("Not sure how to handle this");
          }
        })
        .catch(function () {
          console.log(arguments);
        });
    },
  },
  data() {
    return {
      episode_limit: this.feed.episode_limit,
    };
  },
};
</script>
