<template>
<div>
    <h3>Release Schedule</h3>
    <div>
        <form @submit="aaa">
            <div v-for="releaser in releasers" class="border bg-grey-200 p-2 mb-2">
                <div class="flex text-sm justify-between">
                <label class="block text-grey-800 font-bold flex items-center">
                    <input type="checkbox" :checked="releaser.checked" @change="releaser.checked=!releaser.checked" class="form-checkbox mr-2 leading-tight">
                    <span class="text-sm">{{releaser.label}}</span>
                </label>
                <a :href="`/feeds/${feed}${releaser.path}`" v-show="releaser.path">Manage</a>
                </div>
                <div v-if="releaser.checked">
                    <div v-for="option in releaser.options" class="mt-2 pt-2 ml-6 md:flex md:items-center border-t">
                        <template v-if="option.allow_multi && option.values">
                            <div class="option-label self-start">{{option.label}}</div>
                            <div>
                                <div v-for="value in option.values">
                                    <label class="inline-flex items-center">
                                        <input type="checkbox" class="form-checkbox" v-model="option.value" :value="value"/>
                                        <span class="ml-2">{{value}}</span>
                                    </label>
                                </div>
                            </div>
                        </template>
                        <template v-else>
                            <label class="option-label">{{option.label}}</label>
                            <select v-if="option.values.length" v-model="option.value" class="form-select w-full sm:w-auto">
                                <option v-for="value in option.values" :value="value">{{value}}</option>
                            </select>
                            <input v-else class="form-input w-full sm:w-auto" :disabled="!!releaser.path" :type="option.type" v-model="option.value" :pattern="optionPattern(option)"/>
                        </template>
                    </div>
                </div>
            </div>
            <button class="tw-button" type="submit">Save Release Schedule</button>
        </form>
        <button @click="releaseNewEpisodes" class="tw-button" type="button">Release Episodes</button>
    </div>
</div>
</template>
<script>
export default {
    props:[
        'feed'
    ],
    computed:{
        formAction() {
            return `/api/v1/feeds/${this.feed}/release-schedule`;
        }
    },
    methods: {
        optionPattern(option) {
            if (option.type === 'number') {
                return '[0-9]*';
            }
        },
        releaseNewEpisodes() {
            axios.post(`/api/v1/feeds/${this.feed}/released-episodes`).then(({data}) => {
                if (data.data) {
                    window.alert(data.data.join(', '));
                }
            });
        },
        aaa(evt) {
            evt.preventDefault()
            axios.post(`/api/v1/feeds/${this.feed}/release-schedule`, {
                releasers: this.releasers.filter(a => a.checked).map(function (releaser) {
                    return {
                        id:releaser.id,
                        options:releaser.options.reduce(function (a,b) {
                            a[b.label] = b.value;
                            return a;
                        }, {})
                    }
                })
            }).then(({data}) => {
                console.log(data);
            })
            .catch(function () {
                console.log(arguments); 
            })
        }
    },
    data() {
        return {
            releasers:[],
            selected:{},
        }
    },
    mounted() {
        var v = this;
        axios.all([
                axios.get('/api/v1/available-releasers'),
                axios.get('/api/v1/feeds/'+this.feed+'/release-schedule')
            ])
            .then(axios.spread(function (all_releasers, selected) {
                selected = selected.data.data.reduce(function (carry, current) {
                    carry[current.id] = current.options;
                    return carry;
                }, {});
                
                v.releasers = all_releasers.data.data.map(function (current) {
                    if (selected.hasOwnProperty(current.id)) {
                        current.checked = true;

                        current.options = current.options.map(function (cur) {
                            cur.value = selected[current.id][cur.label];
                            return cur;
                        });
                    } else {
                        current.checked = false;
                        current.options = current.options.map(function (current) {
                            current.value = current.allow_multi ? [] : null;
                            return current;
                        });
                    }
                    return current;
                })
            }));
    }
}
</script>

<style>
/* Empty date fields shrink on IOS */
.form-input[type="date"] {
    height: 2.375rem;
}
.option-label {
    @apply block text-gray-800 text-sm font-bold;
}
@screen sm {
    .option-label {
        @apply text-right w-16 mr-4;
    }
}
</style>
