<template>
    <div class="result-grid">
        <div v-for="item in items" class="shadow bg-gray-100">
            <slot v-bind:item="item"/>
        </div>
    </div>
</template>
<script>
export default {
    props:['items'],
}
</script>
<style>

.result-grid {
    --grid-columns:1;
    display:grid;
    grid-gap:10px;
    grid-template-columns: repeat(var(--grid-columns), 1fr)
}
@screen md {
    .result-grid {
        --grid-columns:2;
    }
}
</style>
